.footer {
  width: 100%;
  min-height: 110px;
  background-color: rgb(40, 39, 39);
  padding: 20px 0 15px 0;
}

.footerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin: 10px 0 30px 0;
}

.icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

a.link,
a.link:hover { 
  text-decoration-color: tomato;
  color: tomato;
  font-style: normal;
}

.uniKod {
  color: #fff;
  margin-right: 4px;
}