.wrapper {
  width: 100%;
  height: max-content;
  padding: 40px 20px;
}

.title {
  width: 100%;
  height: 100px;
  color: tomato;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  margin-left: 12px;
}